.MuiDrawer-paper {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1 !important;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    background-color: #8ea595bf !important;
}

.garbage-item{
    text-decoration:none;
    color: inherit;
}

.side-nav-container{
    margin-right: 10px;
}