/* html,
body {
  height: 100%;
  padding-bottom: 150px;
} */

.get-in-touch {
  display: inline-block;
  justify-content: right;
  background: #2a2a2a !important;
  color: #fff !important;
  font-family: "Varela Round", sans-serif;
  font-size: 0.75em !important;
  padding: 8px 22px 8px !important;
  font-weight: 700;
  line-height: 1.8em;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  margin: 0 3px 0 0;
  -webkit-appearance: none;
  text-align: center;
  transition-property: all;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-radius: 3px;
}

.skills-container {
  min-width: fit-content;
  order: 1;
  margin-top: 15px;
}

#skills-container {
  margin-bottom: 0px;
}

.skills-icon {
  width: 50px;
  height: 50px;
}

.skills-col {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

.skills-row {
  align-items: center;
  min-height: fit-content;
  height: 33%;
}
.top{
  
  margin-top: 15px;
  min-height: fit-content;
}

.greeting {
  margin-bottom: 20px;
  order: -2;
}

div.col {
  margin-bottom: 20px;
}

#get-in-touch-button {
  text-align: center;
}

body {
  background: rgb(214 215 216 / 50%);
}


div.hello {
   padding-top: 5%;
}

.greeting {
  background: #f2f2f2;
  border-radius: 10px;
}
.hello-there {
  font-size: 28pt;
  text-align: center;
}

.buffer {
  min-height:fit-content
}